<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="MasterPageDemo.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Employee Management System
    </title>
    <link href="Content/SiteStyle.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div class="main-container">
            <div class="header">
                <h2>Employee Management System</h2>
                <p>Manage Employee details easily.</p>
            </div>
            <div class="navbar">
                <a href="Home.aspx">Home</a>
                <a href="EmployeeList.aspx">Employees</a>
                <a href="About.aspx">About</a>
                <a href="Contact.aspx">Contact</a>
            </div>
            <div class="content-area">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>

            <div class="footer">
                <p>&copy; 2026 Employee Management System. All rights reserved.</p>
            </div>
            </div>
    </form>
</body>
</html>
